{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <p>Welcome! Here is a list of things you can do here:</p>
  <ul>
    <li><a href="/quote">See A Random Quote</a></li>
  </ul>
{% endblock %}
